@import 'colorVariables';
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap');

*{
    margin: 0px;
    padding: 0px;
    font-family: "EB Garamond";
}

html {
    scroll-behavior: smooth;
}

.mainDiv{
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url('../Images/hotelBg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; 
    filter: blur(5px); 
    z-index: -1; 
}

.mainDiv .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4); 
}

nav{
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    box-shadow: 0 8px 6px -6px #FFA456;
}

nav li a:hover{
    color: white;
    border-bottom: 3px solid #FFA456;
    transition: .3s;
}

.active{
    border-bottom: 3px solid #FFA456;
    color: #FFA456;
}

.mainText{
    font-size: 50px;
    color: #FFA456;
    text-transform: uppercase;
    text-shadow: 0px 3px rgba(0, 0, 0, 0.4);
}

p{
    font-size: 25px;
}

.checked {
    color: orange;
}

.buttonStyle{
    background-color: #FFA456;
    padding: 5px;
    border-radius: 5px;
    font-weight: bolder;
    margin-bottom: 12px;
    margin-right: 5px;
}

.buttonStyle:hover{
    background-color: #e8a264;
}

input {
    font-weight: 700;
    letter-spacing: 1.4px;
  }
  
  .background {
    display: flex;
    min-height: 100vh;
  }
  
  .container {
    flex: 0 1 700px;
    margin: auto;
    padding: 10px;
  }
  
  .screen {
    position: relative;
    border-radius: 15px;
    background-color: rgba(0, 0, 0, 0.8);

  }
  
  .screen:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 20px;
    right: 20px;
    bottom: 0;
    border-radius: 15px;
    box-shadow: 0 20px 40px rgba(0, 0, 0, .4);
    z-index: -1;
  }
  
  .screen-body {
    display: flex;
  }
  
  .screen-body-item {
    flex: 1;
    padding: 50px;
  }
  
  .screen-body-item.left {
    display: flex;
    flex-direction: column;
  }
  
  .app-title {
    display: flex;
    flex-direction: column;
    position: relative;
    color: #FFA456;
    font-size: 26px;
  }
  
  .app-title:after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    bottom: -10px;
    width: 25px;
    height: 4px;
    background:#FFA456;
  }
  
  .app-contact {
    margin-top: auto;
    font-size: 16px;
    color: #888;
  }
  
  .app-form-group {
    margin-bottom: 15px;
  }
  
  .app-form-group.message {
    margin-top: 40px;
  }
  
  .app-form-group.buttons {
    margin-bottom: 0;
    text-align: right;
  }
  
  .app-form-control {
    width: 100%;
    padding: 10px 0;
    background: none;
    border: none;
    border-bottom: 1px solid #666;
    color: #ddd;
    font-size: 14px;
    text-transform: uppercase;
    outline: none;
    transition: border-color .2s;
  }
  
  .app-form-control::placeholder {
    color: #666;
  }
  
  .app-form-control:focus {
    border-bottom-color: #ddd;
  }
  
  .app-form-button {
    background: none;
    border: none;
    color: #FFA456;
    font-size: 14px;
    cursor: pointer;
    outline: none;
  }
  
  .app-form-button:hover {
    color: #FFA456;  
  }

  .contactusCard{
    padding-top: 10%;
    margin-left: auto;
    margin-right: auto;
    z-index: 2;
  }

  svg{
    margin-bottom: 0px;
  }

  .contactusCard a:hover{
    color: white;
    text-shadow:2px 1px #888;
  }
  
  @media screen and (max-width: 520px) {
    .screen-body {
      flex-direction: column;
    }
  
    .screen-body-item.left {
      margin-bottom: 30px;
    }
  
    .app-title {
      flex-direction: row;
    }
  
    .app-title span {
      margin-right: 12px;
    }
  
    .app-title:after {
      display: none;
    }
  }
  
  @media screen and (max-width: 600px) {
    .screen-body {
      padding: 40px;
    }
  
    .screen-body-item {
      padding: 0;
    }
  }