body{
    margin: 0px;
    font-family:"Neuton";
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
}
section{
    padding: 5px;
    margin: 5px;
}

.heading{
    font-size: 50px;
    text-align: center;
    font-family: "Ma Shan Zheng", serif;
  font-weight: bolder;
  font-style: normal;
  letter-spacing: 2px;
  color: #8D26CC;
}

.subHeading{
    font-size: 20px;
    font-weight: bolder;
    letter-spacing: 1px;
    padding: 5px;
}
nav{
    margin-right: 10px;
    width: 100%;
    height: fit-content;
    background-color: #8D26CC;
    position: fixed;
    display: flex;
    flex-direction: row-reverse;
}

nav ul li{
    text-decoration: none;
    display: inline-block;
    line-height: 10px;
    margin: 0 5px;
}
  
nav ul li a{
    color: black;
    text-decoration: none;
    font-size: 20px;
    font-weight: bolder;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: capitalize;
}
  
nav ul li a:hover{
    background: white;
    transition: .5s;
    color: #8D26CC;
}

.card {
    padding: 10px;
    margin: 5px;
    height: 350px;
    width: 250px;
    box-shadow: 2px 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;               
    display: inline-block;
    align-items: center;
    text-align: center; 
}

.card:hover {
    box-shadow: 0px 4px 8px 2px rgba(0.2, 0.2, 0.2, 0.2);
}
.checked {
    color: orange;
}
.projectCard{
    width: 60%; 
    border-width:0px 0px 0px 5px; 
    border-style: solid;
    border-color: #8D26CC;
    padding: 10px;
    margin: 5px;
}

.certificate{
    display: inline-block; 
    margin: 10px;
    margin-left: 40px;
    width: 500px;
    height: 100px;
    align-items: center;
    text-align: center;
    box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.2);
    background-color: #F0EEEE;
}

.certificate a{
    text-decoration: none;
    color: blueviolet;
}
.certificate:hover{
    border: 2px solid #8D26CC;
    transition-duration: 2.5ms;
}